{% extends "base.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}
  <h1>{{drinkki.nimi}}</h1>
  {% if message %}
    <div class="alert alert-success">{{message}}</div>
  {% endif %}

  {% if user_logged_in %}
    {{forms.destroy_button("#{base_path}/drinkit/#{drinkki.id}/destroy")}}
    <a href="{{base_path}}/drinkit/{{drinkki.id}}/edit" class="btn btn-info" role="button">Muokkaa</a>
    <p></p>
  {% endif %}
  
  <ul>
    <li><strong>Tyyppi:</strong> {{drinkki.tyyppi}}</li>
    <li><strong>Hintaluokka:</strong> <label class="label label-info">{{
    drinkki.hintaluokka}}</label></li>
    <li><strong>Lisäyspäivä:</strong> {{drinkki.added}}</li>
  </ul>

  <ul class="list-group">
    {% for ra in raakaAineet %}
    <li class="list-group-item justify-content-between">
      {{ra.nimi}}
      <span class="badge badge-default badge-pill">{{ra.maara}}</span>
    </li>
    {% endfor %}
  </ul>

  <p>{{drinkki.kuvaus}}</p>
{% endblock %}