{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}
    <h1>Käyttäjän {{user_logged_in.nimi}} drinkkilista</h1>
  {% else %}
    <h1>Drinkkilista</h1>
  {% endif %}

  <p>
    <a href="{{base_path}}/drinkki/new" class="btn btn-success">Lisää drinkki</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Tyyppi</th>
        <th>Hintaluokka</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for drinkki in drinkit %}
        <tr>
          <td><a href="{{base_path}}/drinkki/{{drinkki.id}}">{{drinkki.nimi}}</a></td>
          <td>{{drinkki.tyyppi}}</td>
          <td><label class="label label-info">{{drinkki.hintaluokka}}</label></td>
          <td>{{drinkki.added}}</td>
          <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}