{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa drinkkireseptiä "Jallukola"</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="Jallukola" type="text">
    </div>

    <div class="form-group">
      <label for="type">Tyyppi</label>
      <select class="form-control" id="type">
        <option>Cocktail</option>
        <option>Long Drink</option>
        <option>Neat</option>
        <option>Muu</option>
      </select>
    </div> 

    <div class="form-group">
      <label for="price">Hintaluokka</label>
      <select class="form-control" id="price">
        <option>€</option>
        <option>€€</option>
        <option>€€€</option>
      </select>
    </div> 

    <div class="form-group">
      <label for="item">Raaka-aineet</label>
        <select class="form-control" multiple id="item">
        <option>Jaloviina(*)</option>
        <option>Kola</option>
      </select>
    </div> 
    
    <div class="form-group">
      <label>Valmistusohje</label>
      <textarea class="form-control">Sekoita korkeaan lasiin 4 cl Jaloviinaa(*), lisää haluamasi määrä jäitä ja täytä valitsemallasi kolajuomalla. 
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}