{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa DrinkIt!-drinkkiarkistoon</h1>
  </div>
  {%if message%}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
    <div class="input-group-prepend">
    <button class="btn btn-primary btn-lg" type="button">Lisää</button>
    <button class="btn btn-primary btn-lg" type="button">Hae</button>
  </div>
</div>

{% endblock %}
